<!DOCTYPE html> <!-- Используется html 5 версии -->
{% extends 'base.html' %}
{% load static %}
  <head>
    <title>
      {% block title %} Записи сообщества {{group.title}} {% endblock %}
    </title>
  </head>
  <body>
    <main>
      <!-- класс py-5 создает отступы сверху и снизу блока -->
      <div class="container py-5">
        {% block content%}
        <h1> Записи сообщества {{group.title}} </h1>
        <p>
          {{ group.description }}
        </p>
        {% for post in posts %}
        <article>
          <ul>
            <li>
              Автор: {{ post.author.get_full_name }}
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>      
          <p>
            {{ post.text }}
          </p>
        </article>
        {% if not forloop.last %}
        <hr>
        {% endif %}
        {% endfor %}
        {% endblock %}
      </div>  
    </main>
    <!-- Использованы классы бустрапа: -->
    <!-- border-top: создаёт тонкую линию сверху блока -->
    <!-- text-center: выравнивает текстовые блоки внутри блока по центру -->
    <!-- py-3: контент внутри размещается с отступом сверху и снизу -->
  </body>